## Assignment 5

## Sort a list of tuple

In [11]:
Student = [
    ("Asma", 22),
    ("Kinza",12),
    ("Mona",15)
]

sorted_student = sorted(Student,key = lambda x: x[1] )

print(Student)
print(sorted_student)

[('Asma', 22), ('Kinza', 12), ('Mona', 15)]
[('Kinza', 12), ('Mona', 15), ('Asma', 22)]